*{
    padding: 0; margin: 0;
}
body{
    color: black;
    min-height: fit-content;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: black;
    font-size: x-large;
    
}

img{
    width: 250px;
}

form div input{
    border: .1rem solid black!important;
    color: black!important;
}

div a{
    text-decoration: none!important;
    color: gray;
    font-size: large;
    margin-right: .1rem;
    width: auto;
    
}